/* ------------------Box Sizing-------------------- */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* ----------------Global Styles------------------ */
  
  body {
  font-family: 'Teko', sans-serif;
  margin:0;
  }
  
  header.primary{
    background-color: #21A65D;
    text-align:center;
    color:#ffffff;
    /****long form****
    padding-top:40px;
    padding-right:40px;
    padding-bottom:40px;
    padding-left:40px;
    ******************/
    /*********Short form*********
    padding: 40px 40px 40px 40px;
    ****************************/
    /*even shorter form*/
    padding: 40px;
    text-shadow: 1px 1px 20px #000000;
  }
  
  header.primary h1{
    font-size: 3.2rem;
    margin: 20px 0;
  }
  
  header.primary h1 a{
    color:#000000;
    text-decoration: none;
  }
  
  header.primary h2 {
    font-size:1.9rem;
  }
  
  
  
  /********Color Theme Swatches in Hex********
  .Color-Theme-Harvest-1-hex { color: #146639 }
  .Color-Theme-Harvest-2-hex { color: #21A65D }
  .Color-Theme-Harvest-3-hex { color: #28CC72 }
  .Color-Theme-Harvest-4-hex { color: #2EE681 }
  .Color-Theme-Harvest-5-hex { color: #30F288 }
  ********************************************/